{% extends 'base.html.twig' %}

{% block title %}Don't Panic.{% endblock %}

{% block body %}
    <div class="container pt-4">
        <h1>Would it save you a lot of time if I just gave up and went mad now?</h1>
      <div class="row">
        <div class="col-sm-9">
          Far out in the uncharted backwaters of the unfashionable end of the western spiral arm of the Galaxy lies a small unregarded yellow sun. Orbiting this at a distance of roughly ninety-two million miles is an utterly insignificant little blue green planet whose ape-descended life forms are so amazingly primitive that they still think digital watches are a pretty neat idea.
        </div>
        <div class="col-sm-3">
          {{ include('appeal/_form.html.twig', {'button_label': 'Написать'}) }}
        </div>
      </div>
    </div>
{% endblock %}
